<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISolicitarScePFServico" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52558/SolicitarScePFServico.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISolicitarScePFServico"
                contract="SolicitarScePFServico.ISolicitarScePFServico" name="BasicHttpBinding_ISolicitarScePFServico" />
        </client>
    </system.serviceModel>
</configuration>